body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center; /* Centrar el contenido */
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  header h1 {
    margin: 0;
  }
  
  header .email {
    margin: 0;
  }
  
  nav {
    margin-top: 10px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  nav ul li {
    margin: 0 15px;
    position: relative;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul li .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 10px;
    list-style: none;
    margin: 0;
    border-radius: 5px;
  }
  
  nav ul li .dropdown li {
    margin: 5px 0;
  }
  
  nav ul li .dropdown li a {
    color: white;
  }
  
  nav ul li .dropdown.show {
    display: block;
  }
  
  main {
    padding-top: 80px; /* Ajusta este valor según la altura de tu header */
    max-width: 800px;
    margin: 0 auto;
    padding: 100px; /* Reduce el padding para que sea más adaptable */
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    color: #333;
  }
  
  .badges img {
    margin-right: 10px;
  }
  
  @media (max-width: 800px) {
    main {
      padding: 150px;
      padding-top: 135px; /* Asegúrate de que el contenido no quede oculto */
    }
  }
  