/* Estilos generales para la página */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
  text-align: center;
  transition: background-color 0.3s ease;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #0077b6;
  color: white;
  padding: 20px 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header a img {
  max-width: 100%;
  height: auto;
}

header .email {
  margin: 5px 0 0;
  font-size: 14px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

nav ul li {
  position: relative;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  transition: background 0.3s;
}

nav ul li a:hover {
  background-color: #005f8a;
  border-radius: 5px;
}

nav ul li ul.dropdown {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #02669c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 0;
}

nav ul li ul.dropdown li {
  width: 100%;
}

nav ul li ul.dropdown li a {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

nav ul li ul.dropdown.show {
  display: block;
  width: 120px;
  height: 75px;
}

.icon {
  width: 20px;
  height: 20px;
}

main {
  padding-top: 500px; /* Aumentar para que el contenido no quede tapado */
  max-width: 800px;
  margin: 0 auto;
  padding: 150px;
}

section {
  margin-bottom: 40px;
}

section h2 {
  font-size: 28px;
  color: #0077b6;
  margin-bottom: 20px;
}

section p {
  font-size: 16px;
  line-height: 1.6;
}

section img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.badges img {
  margin: 10px;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 20px;
  }

  header .email {
    font-size: 12px;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  nav ul li ul.dropdown {
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
  }

  main {
    padding-top: 540px; /* Aumentar para que el contenido no quede tapado en dispositivos móviles */
    padding: 10px;
  }

  section h2 {
    font-size: 24px;
  }
}

/* Estilos para el toggle de modo oscuro */
.toggle-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #6698b6;
  width: 40px;
  height: 16px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-label .fas {
  font-size: 18px;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f3872e;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

/* Estilo para el modo oscuro */
body[data-theme='dark'] {
  background-color: #333;
  color: #f4f4f9;
}

/* Estilos adicionales según el tema */
[data-theme='dark'] header {
  background-color: #1d1c1c;
}

[data-theme='dark'] header a {
  color: #f4f4f9;
}

[data-theme='dark'] nav ul li a {
  color: #f4f4f9;
}

[data-theme='dark'] nav ul li a:hover {
  background-color: #444;
}

[data-theme='dark'] nav ul li ul.dropdown {
  background-color: #444;
}

[data-theme='dark'] section h2 {
  color: #f1c40f;
}

[data-theme='dark'] .icon {
  filter: invert(100%);
}

[data-theme='dark'] body {
  background-color: #333;
  color: #f4f4f9;
}

[data-theme='dark'] .checkbox-label {
  background-color: #3b6179;
}
